<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estudios Realizados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Estudios</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <h2>Escuela Primaria Andrés Bello/Tumbaco</h2>
      <br/>
      <p>Septiembre 2006 - Julio del 2012</p>
      <p>Otorgación de diplomas por el mejor estudiante del Paralelo "A" durante la educación básica</p>
      <br/>
      <h2>Colegio Nacional Cumbayá</h2>
      <br/>
      <p>Septiembre del 2012 - Julio del 2018</p>
      <p>Bachiller graduado en la carrera de Informática</p>
      <br/>
      <h2>Universidad Politécnica Nacional</h2>
      <br/>
      <p>Septiembre 2018 - actual 5to semestre</p>
      <p>Estudiante de la Carrera de Tecnología Superior en Desarrollo de Software</p>
      <br/>
    </ion-card-content>
  </ion-card>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
