<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Información Personal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Información</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Hola, Soy</ion-card-title>
      <ion-card-subtitle>Jonathan Efrain Alquinga Cajamarca</ion-card-subtitle>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </ion-card-header>
  
    <ion-card-content>
      Fecha de nacimiento: 14 de Febrero de 1999.
      <br/>
      Edad: 22 años.
      <br/>
      Dirección: Tumbaco, Barrio Chiviqui
      <br/>
      Estado Civil: Soltero.
      <br/>
      Contacto
      <br/>
      Telefono: 024518830
      <br/>
      Celular: 0983868358
      <br/>
      Correo electrónico
      <br/>
      jona94alquinga@gmail.com
      <br/>
      jonathan.alquinga@epn.edu.ec
      <br/>      
    </ion-card-content>
  </ion-card>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
