<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pasantias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Información</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card-content>
    <h2>SERVICES</h2>
    <br/>
    <p>Septiembre 2006 - Julio del 2012</p>
    <p>Dirección: Tumbaco</p>
    <p>Auxiliar técnico en Analisis en Sistemas Informaticos</p>
  </ion-card-content>
</ion-card>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
